[user]
	name = Tatsuya Oiwa
[alias]
	st = status
	addu = add -u
	co = checkout
	br = branch
	mg = merge
	logg = log --oneline --graph --all --decorate
	fe = fetch --prune
	rb = rebase
	ci = commit
	df = diff
	dfc = diff --cached
	unstage = reset HEAD
[color]
	ui = auto
[core]
	editor = vim -c \"set fenc=utf-8\"
