[user]
	name = Tatsuya Oiwa
[alias]
	st = status
	add-all = add -u
	co = checkout
	br = branch
	mg = merge
	logg = log --oneline --graph --all --decorate
	fe = fetch
	rb = rebase
	ci = commit
[color]
	ui = auto
[core]
	editor = vim -c \"set fenc=utf-8\"
