[user]
	name = Tatsuya Oiwa
	email = tatsuyaoiw@gmail.com
[credential]
    #helper = osxkeychain
[alias]
	st = status
	co = checkout
	br = branch
	mg = merge
	logg = log --oneline --graph --all --decorate
	fe = fetch
	rb = rebase
	ci = commit
[color]
	ui = true
